# Challenge 3

In this challenge we will work on the `Orders` data set. In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

## Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [98]:
# import required libraries
import numpy as np
import pandas as pd

Next, extract and import `Orders` dataset into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [104]:
import zipfile

zf = zipfile.ZipFile('Orders.zip')
orders = pd.read_csv(zf.open('Orders.csv'))

orders.head(10)
#orders.shape (397924, 14)

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
5,5,536365,22752,2010,12,3,8,set 7 babushka nesting boxes,2,2010-12-01 08:26:00,7.65,17850,United Kingdom,15.30
6,6,536365,21730,2010,12,3,8,glass star frosted t-light holder,6,2010-12-01 08:26:00,4.25,17850,United Kingdom,25.50
7,7,536366,22633,2010,12,3,8,hand warmer union jack,6,2010-12-01 08:28:00,1.85,17850,United Kingdom,11.10
8,8,536366,22632,2010,12,3,8,hand warmer red polka dot,6,2010-12-01 08:28:00,1.85,17850,United Kingdom,11.10
9,9,536367,84879,2010,12,3,8,assorted colour bird ornament,32,2010-12-01 08:34:00,1.69,13047,United Kingdom,54.08

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [110]:
#Group by Customer ID to identify unique customers and then aggregated the amount spent in a sum
grouping = orders.groupby(['CustomerID'])['amount_spent'].sum()

group_df= pd.DataFrame(grouping)
group_df.index

Int64Index([12346, 12347, 12348, 12349, 12350, 12352, 12353, 12354, 12355,
            12356,
            ...
            18273, 18274, 18276, 18277, 18278, 18280, 18281, 18282, 18283,
            18287],
           dtype='int64', name='CustomerID', length=4339)

In [111]:
#Quantile .95
group_df.quantile([.50,.75,.95])

      amount_spent
0.50       674.450
0.75      1661.640
0.95      5840.182

In [112]:
#Label customers

group_pref = group_df[(group_df['amount_spent'] >= 3646.3475) & (group_df['amount_spent'] <= 5154.96)]
group_pref

group_vip = group_df[(group_df['amount_spent'] >= 5154.96)]
group_vip


def f(row):
    
    if row['CustomerID'] in group_pref.index:
        val = "Preferred"
    elif row['CustomerID'] in group_vip.index:
        val = "VIP"
    else:
        val = "Normal"
    return val


orders['Customer_Type'] = orders.apply(f, axis=1)


orders.head(50)

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent,Customer_Type
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,VIP
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,VIP
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00,VIP
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,VIP
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,VIP
5,5,536365,22752,2010,12,3,8,set 7 babushka nesting boxes,2,2010-12-01 08:26:00,7.65,17850,United Kingdom,15.30,VIP
6,6,536365,21730,2010,12,3,8,glass star frosted t-light holder,6,2010-12-01 08:26:00,4.25,17850,United Kingdom,25.50,VIP
7,7,536366,22633,2010,12,3,8,hand warmer union jack,6,2010-12-01 08:28:00,1.85,17850,United Kingdom,11.10,VIP
8,8,536366,22632,2010,12,3,8,hand warmer red polka dot,6,2010-12-01 08:28:00,1.85,17850,United Kingdom,11.10,VIP
9,9,536367,84879,2010,12,3,8,assorted colour bird ornament,32,2010-12-01 08:34:00,1.69,13047,United Kingdom,54.08,Normal
10,10,536367,22745,2010,12,3,8,poppy's playhouse bedroom,6,2010-12-01 08:34:00,2.10,13047,United Kingdom,12.60,Normal
11,11,536367,22748,2010,12,3,8,poppy's playhouse kitchen,6,2010-12-01 08:34:00,2.10,13047,United Kingdom,12.60,Normal
12,12,536367,22749,2010,12,3,8,feltcraft princess charlotte doll,8,2010-12-01 08:34:00,3.75,13047,United Kingdom,30.00,Normal
13,13,536367,22310,2010,12,3,8,ivory knitted mug cosy,6,2010-12-01 08:34:00,1.65,13047,United Kingdom,9.90,Normal
14,14,536367,84969,2010,12,3,8,box of 6 assorted colour teaspoons,6,2010-12-01 08:34:00,4.25,13047,United Kingdom,25.50,Normal
15,15,536367,22623,2010,12,3,8,box of vintage jigsaw blocks,3,2010-12-01 08:34:00,4.95,13047,United Kingdom,14.85,Normal
16,16,536367,22622,2010,12,3,8,box of vintage alphabet blocks,2,2010-12-01 08:34:00,9.95,13047,United Kingdom,19.90,Normal
17,17,536367,21754,2010,12,3,8,home building block word,3,2010-12-01 08:34:00,5.95,13047,United Kingdom,17.85,Normal
18,18,536367,21755,2010,12,3,8,love building block word,3,2010-12-01 08:34:00,5.95,13047,United Kingdom,17.85,Normal
19,19,536367,21777,2010,12,3,8,recipe box with metal heart,4,2010-12-01 08:34:00,7.95,13047,United Kingdom,31.80,Normal
20,20,536367,48187,2010,12,3,8,doormat new england,4,2010-12-01 08:34:00,7.95,13047,United Kingdom,31.80,Normal
21,21,536368,22960,2010,12,3,8,jam making set with jars,6,2010-12-01 08:34:00,4.25,13047,United Kingdom,25.50,Normal
22,22,536368,22913,2010,12,3,8,red coat rack paris fashion,3,2010-12-01 08:34:00,4.95,13047,United Kingdom,14.85,Normal
23,23,536368,22912,2010,12,3,8,yellow coat rack paris fashion,3,2010-12-01 08:34:00,4.95,13047,United Kingdom,14.85,Normal
24,24,536368,22914,2010,12,3,8,blue coat rack paris fashion,3,2010-12-01 08:34:00,4.95,13047,United Kingdom,14.85,Normal
25,25,536369,21756,2010,12,3,8,bath building block word,3,2010-12-01 08:35:00,5.95,13047,United Kingdom,17.85,Normal
26,26,536370,22728,2010,12,3,8,alarm clock bakelike pink,24,2010-12-01 08:45:00,3.75,12583,France,90.00,VIP
27,27,536370,22727,2010,12,3,8,alarm clock bakelike red,24,2010-12-01 08:45:00,3.75,12583,France,90.00,VIP
28,28,536370,22726,2010,12,3,8,alarm clock bakelike green,12,2010-12-01 08:45:00,3.75,12583,France,45.00,VIP
29,29,536370,21724,2010,12,3,8,panda and bunnies sticker sheet,12,2010-12-01 08:45:00,0.85,12583,France,10.20,VIP
30,30,536370,21883,2010,12,3,8,stars gift tape,24,2010-12-01 08:45:00,0.65,12583,France,15.60,VIP
31,31,536370,10002,2010,12,3,8,inflatable political globe,48,2010-12-01 08:45:00,0.85,12583,France,40.80,VIP
32,32,536370,21791,2010,12,3,8,vintage heads and tails card game,24,2010-12-01 08:45:00,1.25,12583,France,30.00,VIP
33,33,536370,21035,2010,12,3,8,set/2 red retrospot tea towels,18,2010-12-01 08:45:00,2.95,12583,France,53.10,VIP
34,34,536370,22326,2010,12,3,8,round snack boxes set of4 woodland,24,2010-12-01 08:45:00,2.95,12583,France,70.80,VIP
35,35,536370,22629,2010,12,3,8,spaceboy lunch box,24,2010-12-01 08:45:00,1.95,12583,France,46.80,VIP
36,36,536370,22659,2010,12,3,8,lunch box i love london,24,2010-12-01 08:45:00,1.95,12583,France,46.80,VIP
37,37,536370,22631,2010,12,3,8,circus parade lunch box,24,2010-12-01 08:45:00,1.95,12583,France,46.80,VIP
38,38,536370,22661,2010,12,3,8,charlotte bag dolly girl design,20,2010-12-01 08:45:00,0.85,12583,France,17.00,VIP
39,39,536370,21731,2010,12,3,8,red toadstool led night light,24,2010-12-01 08:45:00,1.65,12583,France,39.60,VIP
40,40,536370,22900,2010,12,3,8,set 2 tea towels i love london,24,2010-12-01 08:45:00,2.95,12583,France,70.80,VIP
41,41,536370,21913,2010,12,3,8,vintage seaside jigsaw puzzles,12,2010-12-01 08:45:00,3.75,12583,France,45.00,VIP
42,42,536370,22540,2010,12,3,8,mini jigsaw circus parade,24,2010-12-01 08:45:00,0.42,12583,France,10.08,VIP
43,43,536370,22544,2010,12,3,8,mini jigsaw spaceboy,24,2010-12-01 08:45:00,0.42,12583,France,10.08,VIP
44,44,536370,22492,2010,12,3,8,mini paint set vintage,36,2010-12-01 08:45:00,0.65,12583,France,23.40,VIP
45,45,536370,POST,2010,12,3,8,postage,3,2010-12-01 08:45:00,18.00,12583,France,54.00,VIP
46,46,536371,22086,2010,12,3,9,paper chain kit 50's christmas,80,2010-12-01 09:00:00,2.55,13748,United Kingdom,204.00,Normal
47,47,536372,22632,2010,12,3,9,hand warmer red polka dot,6,2010-12-01 09:01:00,1.85,17850,United Kingdom,11.10,VIP
48,48,536372,22633,2010,12,3,9,hand warmer union jack,6,2010-12-01 09:01:00,1.85,17850,United Kingdom,11.10,VIP
49,49,536373,85123A,2010,12,3,9,white hanging heart t-light holder,6,2010-12-01 09:02:00,2.55,17850,United Kingdom,15.30,VIP

# Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

## Q2: How to identify which country has the most VIP Customers?

In [113]:
# United Kingdom is the Country which has the most VIP Customers

orders.groupby(['Customer_Type','Country'])['Customer_Type'].count()

Customer_Type  Country
Normal         Australia           287
               Austria             377
               Bahrain              17
               Belgium            1351
               Brazil               32
                                 ...
VIP            Singapore           222
               Spain               784
               Sweden              198
               Switzerland         594
               United Kingdom    95318
Name: Customer_Type, Length: 67, dtype: int64

## Q3: How to identify which country has the most VIP+Preferred Customers combined?

In [120]:
vip_pref = orders.groupby(['Country','Customer_Type'])['Customer_Type'].count()

vip_df= pd.DataFrame(vip_pref)

Empty DataFrame
Columns: [Customer_Type]
Index: []